@import './default.less';
@import './loading.less';

.container {
  .nav-left {
    background: #001529;
    height: calc(100vh);
  }
  .main {
    height: calc(100vh);
    background-color: @colorL;
    overflow: auto;

    .content {
      // height: calc(69vh);

      padding: 20px;
      // text-align: center;
      // background: pink;
      vertical-align: middle;
    }
  }
}